CLOUD_SERVER_URL=http://localhost:3000
SPOOLER_KEY=replace-with-the-pos-spooler-key
SPOOLER_ID=primary
SPOOLER_NAME=Front counter
SPOOLER_STATE_DIR=C:\ProgramData\POS-Spooler
SPOOLER_WINDOWS_DRAIN_STRATEGY=notify

KITCHEN_BEEP_ENABLED=true
KITCHEN_BEEP_COUNT=3
KITCHEN_BEEP_DURATION=5
RECEIPT_BEEP_ENABLED=false
RECEIPT_BEEP_COUNT=2
RECEIPT_BEEP_DURATION=3
